 .indexList {
    padding-bottom: 10px;
    padding-top: 20px;
    list-style: none;
}
.frtImg {
 padding-bottom: 1px;
max-width: 50%;
 border: 2px solid red; 
 height: auto;
 display: block;
 border-radius: 20px;

}

ul li a{
    color: brown;
    text-decoration: none;
    font-weight: 900;
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 30px;
    border: 1px solid red ;
    list-style: none;
    text-size-adjust: 60%;
}
ul li a:hover {
    color: black;
    background-color: red;
} 
.title {
    
    font-weight: bold;
    color: red ;
    font-family: fantasy;
    text-align: center;
}
body {
    background-color: #3a3232;
    color: whitesmoke;

}
P {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid brown;
    border-radius: 5px;
    margin-left: 5px;
}
.turkeyTitle {
    color: red;
    font-family: fantasy, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}
nav a:hover{
    color: black;
    background-color: brown;
}
.turkeyP{
    text-align: left;
    margin-left: 25px;
    text-decoration: none;
    color: whitesmoke:
}
.turkhtmlimg{
    padding-bottom: 1px;
max-width: 50%;
 border: 3px solid brown; 
 height: auto;
 display: block;
 border-radius: 20px;
 margin-left: 40px;
}
.turktable{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    width: 50%;
    margin-left: 45px;
    margin-top: 25px;
    font-family: cursive;
    font-size: 120%;
    
}
td{
    text-align: center;
}
th{
    font-weight: bolder;
    color: brown;
}
 .turklist{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.tip {
    text-align: center;
}
ol li {
    padding-bottom: 10px;
    padding-top: 20px;
    
}